header {
    padding: 0 48px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button-header {
        // width: auto;
        width: 655px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            @include link(24px, 500, #000)
            
        }
    }


    .theme a {
        @include link (20px, 300, #000)
    }
}