@mixin link($font-size, $font-weight, $color) {
    text-decoration: none;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;

    &:hover {
        transition: all 300ms;
        opacity: 0.5;
    }
}

@mixin number($margin-left) {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #f00;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: $margin-left;
}

@mixin button ($width, $padding...) {
    @include link (24px, 500, #fff);
    width: $width;
    background: #000;
    padding: $padding;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: -0.05em;
}