@import "mixins";
@import "variables";

.shop {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;


    .text-shop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // width: 377px;
    }

        h3 {
            margin-top: 24px;
            margin-bottom: 0;
            font-weight: 400;
            font-size: 32px;
            letter-spacing: -0.05em;
            color: #000;
            }

        h2 {
            margin-top: 0;
            margin-bottom: 24px;
            font-weight: 500;
            font-size: 40px;
            letter-spacing: -0.05em;
            color: #000;
        }

        p {
            @include number(380px);
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            @include button(110px, 12px 24px)
        }

        .img-sneakers  {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                max-width: 50%;
            }
        }
    }